@model IEnumerable<AlytaloMVC.Models.TapahtumatViewModel>

@{
    ViewBag.Title = "Tapahtumat";
}
<p>&nbsp;</p>
<h2>Tapahtumat</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Tapahtuman tunnus
            </th>
            <th>Ominaisuuden tunnus</th>
            <th>
                @Html.DisplayNameFor(model => model.Tapahtuma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ajankohta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>@Html.DisplayFor(modelItem => item.OminaisuudenId)  </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tapahtuma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ajankohta)
            </td>
            <td> 
                @Html.ActionLink("Delete", "DeleteTapahtuma", new { id = item.Id })
            </td>

        </tr>
        }
    </tbody>

</table>
<script>
    const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
    const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
        v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
    document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
        const table = th.closest('table');
        const tbody = table.querySelector('tbody');
        Array.from(tbody.querySelectorAll('tr'))
            .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
            .forEach(tr => tbody.appendChild(tr));
    })));
</script>